<!DOCTYPE html>
<html ng-app>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <h1><%= title %></h1>
    </div>
</nav>

<p>Welcome to <%= title %></p>

<div id="photos">
    <% photos.forEach(function(photo) { %>
    <div class="photo">
        <h2>
            <%= photo.name %>
        </h2>
        <img src="/images/<%= photo.path %>" alt=""/>
    </div>
    <% }) %>
</div>
</body>
</html>
